<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.example.sys.mapper.SpUserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhy.example.sys.entity.SpUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pass" property="pass" />
        <result column="nick" property="nick" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
        <result column="visit_time" property="visitTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="school_code" property="schoolCode" />
    </resultMap>

</mapper>
